.card {
  display: flex;
  align-items: center; /* Şəkil və mətn ortalanacaq */
  padding: 10px;
  width: 45%; /* İndi 18% deyil, 45% qoyuruq, 2 sütun üçün */
  margin: 10px auto;
  box-sizing: border-box;
}

.card img {
  width: 40%; /* Şəkilin eni */
  margin-right: 20px; /* Şəkil ilə mətn arası boşluq */
  object-fit: cover;
}

.card p {
  width: 90%; /* Mətnin eni */
  margin: 0;
  text-align: justify;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Kartlar arası məsafə */
  width: 90%; /* istəyə görə genişlik */
  margin: 10px auto;
}
.card-content h3 {
  display: inline-block;
  margin-top: 100px; /* yuxarıdan məsafə */
  margin-bottom: 5px; /* aşağıdan məsafə */
}

